body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-md-8 {
  display: flex;
}

.mb-3 {
  margin: 7rem 5rem 8rem 5rem;
}

/* .screen {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
} */

.collapse {
  justify-content: flex-end;
}

.navbar {
  padding: 0 5rem 0 5rem;
  position: fixed;
  top: 0;
  overflow: hidden;
}

a .navbar-brand {
  font-size: 2.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: auto;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: auto;
  position: absolute;
  bottom: 10rem;
}
